/*--------------------------------------- Responsive (MIN) ------------------------------------------*/
@media (max-width: 1400px) {
    header .container {max-width: 94%;}

}

@media (max-width: 1200px) {
    .container {max-width: 1140px;}
}

@media (max-width: 912px) {
    .toggle-menu{ margin-left:0px; }
    .toggle-menu ~ .navbar-collapse .collapse{ left:-27px }
    .navbar-nav .nav-item{ width:100% }
    .navbar-nav .nav-item .icon-header{ padding:17px }
    .sec-hero .swiper-slide, .sec-hero .hero-slider{ height:40vh !important }
}

@media (max-width: 769px) {
	.horizontal-view .card-s {flex-direction: row;box-shadow: 0 0 2px rgb(0 0 0 / 10%);border: 1px solid rgb(0 0 0 / 6%);border-radius: .25rem;}
    .horizontal-view .card-s > a {flex: 0 0 auto;width: 33.33333333%;right: -8px;top: -12px;z-index: 2;align-self: flex-start;}
    .horizontal-view .card-s > .card-body {flex: 0 0 auto;width: 66.66666667%;margin: 0;border-radius: 0 .25rem .25rem 0;display: flex;flex-direction: column;justify-content: space-between;padding: 15px 20px 15px 32px;border: none;box-shadow: none;}
    .horizontal-view .card-footer {align-items:center;display: flex;justify-content: space-between;/* flex-direction: column; */border-top: 0;flex: 0 0 auto;padding-top: 0;}
    .horizontal-view .card-footer .card-contact {flex:1;color: var(--sub-color);}
    .horizontal-view .card-footer .card-contact i {height:36px;flex:0 0 36px;font-size: 20px;}
    .horizontal-view .card-s .card-img-top {}
    .horizontal-view .card-s .card-info {justify-content: flex-start;color: #444;}
    .horizontal-view .card-s .card-info span {margin-right: 14px;position: relative;padding-right: 16px;}
    .horizontal-view .card-s .card-info span::after {width: 3px;height: 3px;border-radius:50%;background-color: var(--main-color);content:'';position:absolute;top:50%;right:0;}
    .horizontal-view .card-s .card-info span, .horizontal-view .card-s .card-info a {flex: 0 0 auto;margin-bottom: 0;}

    .horizontal-view .product-status {padding-bottom: 16px;}
    .horizontal-view .card-s .hot {right:initial;left: calc(33.33333333% - 50px);z-index: 3;top: -18px;}
    .horizontal-view .card-s::before {display:none}
    .horizontal-view .card-s:hover {border-color:var(--sub-color)}
    .horizontal-view .card-s .card-title {-webkit-text-stroke-width: 0.5px;letter-spacing: .2px;}
    .horizontal-view .card-s:hover .card-title a {color:var(--main-color)}
    .horizontal-view .card-s .view-more {display: none;}
    
}

@media (max-width: 414px) {
    .toggle-menu ~ .navbar-collapse .collapse{ left:-12px } 
    .sec-hero .swiper-slide, .sec-hero .hero-slider{ height:20vh !important }
    .news-item > span img, .news-item-captain-img img{ height:100% }
    .title-cat{ font-size:1rem }
    .sales-sec, .news-sec{ padding-top:0px }
    .navbar>.container{ flex-wrap: nowrap; }
    #sale-search{ display:none; }
    .cover-title-home h2{  }
}


